.branch-container{
    width: 100%;
    height: 100%;
    margin-top: 25px;
    display: flex;
}

/*

 mainbar style//css code
*/
.branchmainbar-container{
    background-color: rgb(163, 165, 165);
    width: 170px;
    height: 170px;
}
.branchmainbar-container button{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: rgb(79, 104, 107);
    color: white;
    border-radius:2px;
    cursor: pointer;
}

.branchmainbar-container button:hover{
    background-color: rgb(24, 124, 124);
    transition: 60ms;
}

.branchmainbar-container button:active{
    background-color: rgb(24, 67, 124);
}
/* ######################
   fullbranch button style/css code*/
/* sidebar style//css code*/
.branchsidebar-container{
    margin-left: 53px;
}

/* sidebar input style/css*/
.fullbranchinfo-container .sbranches-container .searche-container input{
    width: 690px;
    height: 30px;
    border: none;
    background-color: rgb(170, 207, 207);
    border-radius: 2px;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
}
/* sidebar table style/css*/
.fullbranchinfo-container .sbranches-container .table-container{
  background-color: #8295b84b;
    margin-top: 5px;
    width: 702px;
    height: 250px;
    overflow: auto; 
}
.fullbranchinfo-container .sbranches-container .table-container::-webkit-scrollbar{
    width:0.5rem;
    height:0.4rem;
}
.fullbranchinfo-container .sbranches-container .table-container::-webkit-scrollbar-thumb{
   background-color: rgba(34, 26, 26, 0.199);
}

.fullbranchinfo-container .sbranches-container table, th, td{
    padding: 1rem; 

}
.fullbranchinfo-container .sbranches-container  table, th, td{
    border-collapse: collapse;
    padding: 1rem;
}
.fullbranchinfo-container .sbranches-container  tr:hover{
    background-color: rgb(144, 143, 148);
    transition: 60ms;
}
.fullbranchinfo-container .sbranches-container  tr:active{
    background-color: rgb(150, 139, 192);
    transition: 60ms;
}
.fullbranchinfo-container .sbranches-container thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(206, 178, 216, 0.966);
    color: rgba(12, 12, 12, 0.808);
    padding-left: 14px;
}
.fullbranchinfo-container .sbranches-container td{
    padding-left: 14px;
    font-size: 88%;
}
.sbranches-container tbody tr:nth-child(even){
    background-color: #8295b8a9;
}
/* maininfo style/css code*/
.fullbranchinfo-container .maininfo-container{
    width: 702px;
    height: 320px;
    background-color: rgba(88, 214, 204, 0.582);
}
.branchinfo-conatiner{
    padding: 20px;
    margin: 20px;
    height: 170px;
}
.branchinfo-conatiner h1{
    display: flex;
    background-color: aquamarine;
    width: 160px;
    height: 17px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.branchinfo-conatiner .branchcharinfo-conatiner input{
    width: 200px;
    height: 25px;
    border: none;
    background-color: rgba(229, 231, 231, 0.87);
    border-radius: 2px;
    padding-left: 10px;
    margin-top: 15px;
    outline: none;
}
.branchinfo-conatiner .branchimage-container{
    margin-left: 445px;
    margin-top: -210px;
    width: 200px;
    height: 190px;
}
.branchimage-container p strong{
    margin-left: 25px;
    font-size: 10px;
}
.branchinfo-conatiner .branchimage-container img{
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.managebranch-buttoncontainer {
    margin-top: 65px;
    margin-left: 460px
}
.deletebranch-btn{
    margin-left: 10px;
    background-color:rgba(152, 114, 293, 0.767);
    outline: none;
    border:none;
    width:110px;
    height:30px;
    border-radius: 2px;
    cursor: pointer;

}
.updatebranch-btn{
    background-color:rgba(152, 114, 293, 0.767);
    outline: none;
    border:none;
    width:110px;
    height:30px;
    border-radius: 2px;
    cursor: pointer;
}
.managebranch-buttoncontainer button:hover{
    background-color:rgb(24, 124, 124);
    transition: 60ms;
}
.managebranch-buttoncontainer button:active{
    background-color: rgb(24, 67, 124);
}

.slide{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}
/* status style/css code*/
.fullbranchinfo-container .status-container{
    width: 702px;
    height: 480px;
    background-color: rgb(181, 240, 255);
}
.status-container .btn-container{
    margin-left: 350px;
}
.btn-container button{
    margin-left: 10px; 
    margin-top: 15px;
    width: 100px;
    height: 25px;
    outline: none;
    border: none;
    background-color: rgba(122, 144, 206, 0.726);
}
.status-container .btn-container button:hover{
    background-color:rgb(24, 124, 124);
    transition: 60ms;
}
.status-container .btn-container button:active{
    background-color: rgb(24, 67, 124);
}
/*##################################
    main button style/css code
*/

/* generalinfoTable style/css code*/
.mainbranchinfo-container .searche-container input{
    width: 690px;
    height: 30px;
    border: none;
    background-color: rgb(170, 207, 207);
    border-radius: 2px;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
}
.mainbranchinfo-container .generalinfoTable-container{
    background-color: #8295b84b;
    margin-top: 5px;
    width: 702px;
    height: 200px;
    overflow: auto; 
}
.mainbranchinfo-container .generalinfoTable-container::-webkit-scrollbar{
    width:0.6rem;
    height:0.4rem;
}
.mainbranchinfo-container .generalinfoTable-container::-webkit-scrollbar-thumb{
   background-color:rgba(34, 26, 26, 0.199);;
}
.mainbranchinfo-container .generalinfoTable-container table, th, td{
    padding: 1rem; 
}
.mainbranchinfo-container .generalinfoTable-container table, th, td{
    border-collapse: collapse;
    padding: 1rem;
}
.mainbranchinfo-container .generalinfoTable-container thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(159, 182, 224, 0.966);
    color: rgba(12, 12, 12, 0.808);
    padding-left: 12px
}
.mainbranchinfo-container .generalinfoTable-container td{
    padding-left: 12px;
    font-size: 88%;
}
.generalinfoTable-container tbody tr:nth-child(even){
    background-color: #8295b8a9;
}
.mainbranchinfo-container .generalinfoTable-container tr:hover{
    background-color: rgb(144, 143, 148);
    transition: 60ms;
}
.mainbranchinfo-container .generalinfoTable-container  tr:active{
    background-color: rgb(150, 139, 192);
    transition: 60ms;
}
.generalinfoP-container p{
    background-color: rgba(159, 182, 224, 0.966);
    width: 200px;
    height: 20px;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}

/* todayinfoTable style/css code*/
.mainbranchinfo-container .todayinfoTable-container{
    background-color: #8295b84b;
    margin-top: 10px;
    width: 702px;
    height: 350px;
    overflow: auto; 
}
.mainbranchinfo-container .todayinfoTable-container::-webkit-scrollbar{
    width:0.6rem;
    height:0.4rem;
}
.mainbranchinfo-container .todayinfoTable-container::-webkit-scrollbar-thumb{
   background-color: rgba(34, 26, 26, 0.199);
}
.mainbranchinfo-container .todayinfoTable-container table, th, td{
    padding: 1rem; 
}
.mainbranchinfo-container .todayinfoTable-container table, th, td{
    border-collapse: collapse;
    padding: 1rem;
}
.mainbranchinfo-container .todayinfoTable-container thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(211, 159, 224, 0.966);
    color: rgba(12, 12, 12, 0.808);
    padding-left: 2.1px;
}
.mainbranchinfo-container .todayinfoTable-container td{
    padding-left: 12.5px;
    font-size: 88%;
}
.todayinfoTable-container tbody tr:nth-child(even){
    background-color: #8295b8a9;
}
.mainbranchinfo-container .todayinfoTable-container tr:hover{
    background-color: rgb(144, 143, 148);
    transition: 60ms;
}
.mainbranchinfo-container .todayinfoTable-container  tr:active{
    background-color: rgb(150, 139, 192);
    transition: 60ms;
}
.todayinfoP-container p{
    background-color: rgba(211, 159, 224, 0.966);
    width: 200px;
    height: 20px;
    display: flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
}
/*##################################
    addbranch button style/css code
*/
/* doneinfos style/css code*/
/* forminfo style/css code*/
.addbranch-container .forminfo-container{
    margin-top: 10px;
    background-color: rgba(155, 179, 224, 0.555);
    padding: 15px;
    color: rgb(46, 45, 45);
}
.addbranch-container .forminfo-container .imageinfo-container{
    margin-left: 400px;
}
.addbranch-container .forminfo-container .imageinfo-container .image-container{
    height: 200px;
}
.addbranch-container .forminfo-container .imageinfo-container .image-container img{
    width: 200px;
    height: 200px;
}
.addbranch-container .forminfo-container .forminput-container{
    margin-top: -240px;
}
.addbranch-container .forminfo-container .forminput-container input{
    width: 300px;
    height: 30px;
    border: none;
    background-color: rgba(229, 231, 231, 0.87);
    border-radius: 2px;
    margin-top: 5px;
    padding-left: 10px;
    margin-top: 15px;
    outline: none;
}
.addbranch-container .forminfo-container .forminput-container button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: rgba(122, 158, 146, 0.767);
    color: white;
    cursor: pointer;
}
.addbranch-container .forminfo-container .forminput-container button:hover{
    background-color: rgb(170, 130, 207);
}

/*accepted products css/style code */
/* accepted products status in tables css/style code*/
.acceptedproducts-container .searche-container input{
    width: 690px;
    height: 30px;
    border: none;
    background-color: rgb(170, 207, 207);
    border-radius: 2px;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
}
.acceptedproducts-container .productstable-container{
    background-color: #8295b84b;
    margin-top: 10px;
    width: 702px;
    height: 350px;
    overflow: auto; 
}
.acceptedproducts-container .productstable-container::-webkit-scrollbar{
    width:0.6rem;
    height:0.4rem;
}
.acceptedproducts-container .productstable-container::-webkit-scrollbar-thumb{
   background-color: rgba(34, 26, 26, 0.199);
}
.acceptedproducts-container .productstable-container table, th, td{
    padding: 1rem; 
}
.acceptedproducts-container .productstable-container table, th, td{
    border-collapse: collapse;
    padding: 1rem;
}
.acceptedproducts-container .productstable-container thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(211, 159, 224, 0.966);
    color: rgba(12, 12, 12, 0.808);
    padding-left: 10.1px;
}
.acceptedproducts-container .productstable-container td{
    padding-left: 12.5px;
    font-size: 88%;
}
.productstable-container tbody tr:nth-child(even){
    background-color: #8295b8a9;
}
.acceptedproducts-container .productstable-container tr:hover{
    background-color: rgb(144, 143, 148);
    transition: 60ms;
}
.acceptedproducts-container .productstable-container  tr:active{
    background-color: rgb(150, 139, 192);
    transition: 60ms;
}
/* accepted products status in graph css/style code*/
.acceptedproducts-container  .productsgraph-container{
    width: 702px;
    height: 280px;
    background-color: rgb(181, 240, 255);
}