.employe-container{
    width: 100%;
    height: 100%;
    margin-top: 25px;
    display: flex;
}

/*

 mainbar style//css code
*/
.employemainbar-container{
    background-color: rgb(163, 165, 165);
    width: 170px;
    height: 90px;
}
.employemainbar-container button{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: rgb(79, 104, 107);
    color: white;
    border-radius:2px;
    cursor: pointer;
}

.employemainbar-container button:hover{
    background-color: rgb(24, 124, 124);
    transition: 60ms;
}
.employemainbar-container button:active{
    background-color: rgb(24, 67, 124);
}
/*sidbar style/css code */
.employesidebar-container{
    margin-left: 53px;
}
.manageemploye-container .sbranches-container .searche-container input{
    width: 690px;
    height: 30px;
    border: none;
    background-color: rgb(199, 168, 199);
    border-radius: 2px;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
}
/* sidebar table style/css*/
.manageemploye-container .sbranches-container .table-container{
    background-color: #8295b84b;
    margin-top: 5px;
    width: 702px;
    height: 250px;
    overflow: auto; 
}
.manageemploye-container .sbranches-container .table-container::-webkit-scrollbar{
    width:0.5rem;
    height:0.4rem;
}
.manageemploye-container .sbranches-container .table-container::-webkit-scrollbar-thumb{
   background-color: rgba(34, 26, 26, 0.199);
}

.manageemploye-container .sbranches-container table, th, td{
    padding: 1rem; 

}
.manageemploye-container .sbranches-container  table, th, td{
    border-collapse: collapse;
    padding: 1rem;
}
.manageemploye-container .sbranches-container  tr:hover{
    background-color: rgb(144, 143, 148);
    transition: 60ms;
}
.manageemploye-container .sbranches-container  tr:active{
    background-color: rgb(150, 139, 192);
    transition: 60ms;
}
.manageemploye-container .sbranches-container thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(178, 211, 216, 0.966);
    color: rgba(12, 12, 12, 0.808);
    font-size: 91%;
    padding-left: 10.4px;
}
.manageemploye-container .sbranches-container td{
    padding-left: 10.4px;
    font-size: 88%;
}
.sbranches-container tbody tr:nth-child(even){
    background-color: #8295b8a9;
}
/*manage employee info style/css code*/
.manageemploye-container .maininfo-container{
    width: 702px;
    height: 320px;
    background-color: rgba(88, 214, 204, 0.582);

}
/* employee info container style/css code**/
.einfo-container{
    padding: 20px;
    margin: 20px;
    height: 170px;
}
.einfo-container h1{
    display: flex;
    background-color: aquamarine;
    width: 160px;
    height: 17px;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.einfo-container .employecharinfo-conatiner input{
    width: 200px;
    height: 25px;
    border: none;
    background-color: rgba(229, 231, 231, 0.87);
    border-radius: 2px;
    padding-left: 10px;
    margin-top: 15px;
    outline: none;
}
.einfo-container .employeeimage-container{
    margin-left: 445px;
    margin-top: -210px;
    width: 200px;
    height: 190px;
}
.employeeimage-container p strong{
    margin-left: 25px;
    font-size: 10px;
}
.einfo-container .employeeimage-container img{
    width: 150px;
    height: 150px;
    margin-left: 25px;
}
.manageemployee-buttoncontainer {
    margin-top: 70px;
    margin-left: 460px;
}
.deleteemployee-btn{
    margin-left: 10px;
    background-color:rgba(152, 114, 293, 0.767);
    outline: none;
    border:none;
    width:110px;
    height:30px;
    border-radius: 2px;
    cursor: pointer;

}
.updateemployee-btn{
    background-color:rgba(152, 114, 293, 0.767);
    outline: none;
    border:none;
    width:110px;
    height:30px;
    border-radius: 2px;
    cursor: pointer;
}
.manageemployee-buttoncontainer button:hover{
    background-color:rgb(24, 124, 124);
    transition: 60ms;
}
.manageemployee-buttoncontainer button:active{
    background-color: rgb(24, 67, 124);
}
.slide{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}
  /* addbekery style/css code*/
/*done info container style.css*/
/* forminfo style/css code*/
.addemployee-container .forminfo-container{
    margin-top: 10px;
    background-color: rgba(155, 179, 224, 0.555);
    padding: 15px;
    color: rgb(46, 45, 45);
}
.addemployee-container .forminfo-container .imageinfo-container{
    margin-left: 400px;
}
.addemployee-container .forminfo-container .imageinfo-container .image-container{
    height: 200px;
}
.addemployee-container .forminfo-container .imageinfo-container .image-container img{
    width: 200px;
    height: 200px;
}
.addemployee-container .forminfo-container .forminput-container{
    margin-top: -240px;
}
.addemployee-container .forminfo-container .forminput-container input{
    width: 300px;
    height: 30px;
    border: none;
    background-color: rgba(229, 231, 231, 0.87);
    border-radius: 2px;
    margin-top: 5px;
    padding-left: 10px;
    margin-top: 15px;
    outline: none;
}
.addemployee-container .forminfo-container .forminput-container select{
    width: 312px;
    margin-top: 15px;
    height: 32px;
    padding-left: 6px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(157, 227, 240);
}
.addemployee-container .forminfo-container .forminput-container button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: rgba(122, 158, 146, 0.767);
    color: white;
    cursor: pointer;
}

.addemployee-container .forminfo-container .forminput-container button:hover{
    background-color: rgb(170, 130, 207);
}
.addemployee-container  .formimage-container .forminput-container{
    display: flex;
    width: 200px;
    height: 215px;
    margin-left: 130px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    border: solid rgb(90, 113, 214) 1px;
}