.deletemodal{
    position:fixed;
    top :50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:rgba(207, 235, 223, 0.808);
    width:130px;
    height:17px;
    padding:50px;
    z-index:1000;
}
.deletemodal-container {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(87, 83, 83, 0.7);
}

.deletemodal .close-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(133, 130, 130);
    top: 10px;
    border-radius: 2px;
    border: none;
    right: 10px;
    cursor: pointer;
}
.deletemodal .submit-btn {
    width: 60px;
    position: absolute;
    right: 160px;
    top: 70px;
    height: 25px;
    color: rgb(78, 77, 77);
    margin-top: 7px;
    border: none;
    border-radius: 2px;
    background-color: rgb(103, 153, 153);
}
.deletemodal p{
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 12px;
}
.deletemodal .input-container{
    position: absolute;
    top: 25px;
    right: 18px;
    outline: none;
    border: none;
    width: 190px;
    height: 25px;
    padding-left: 10px;
    margin-top: 15px;
}
.deletemodal .close-btn:hover{
    background-color: rgb(209, 48, 48);
    transition: 60ms;
}
.deletemodal .submit-btn:active{
    background-color: rgb(72, 98, 110);
    transition: 60ms;
}